.offscreen {
  position: absolute;
  left: -100%;
}

span {
  color: #ccc;
}

.typed {
  color: black;
}

.next {
  background: #333;
}

.wrong {
  color: black;
  background: #ffaaaa;
}

.skip {
  background: green;
}

.return.next::before, .return.wrong::before {
  content: "\21A9";
}
